.App {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 20px 0;
}

.pokemon_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
